driver=mysql
connect = "host={{ dovecot_sql_host }} dbname={{ dovecot_sql_db }} user={{ dovecot_sql_user }} password={{ dovecot_sql_user_password }}"
default_pass_scheme = SHA512-CRYPT

password_query = SELECT username AS user,password FROM mailbox WHERE username = '%u' AND active='1'

user_query = SELECT maildir, 1001 AS uid, 1001 AS gid FROM mailbox WHERE username = '%u' AND active='1'
